// Переменные для светлой и темной темы
$font-family: 'Montserrat', sans-serif;

$background-light: rgba(255, 255, 255, 1);
$background-dark: rgba(0, 0, 0, 0.492);
$color-light: #000;
$color-dark: beige;
$border-color: white;
$completed-color: gray;

$task-input-background: none;
$task-input-border: 2px solid white;

// Фон для приложения
$app-background: #565655;

// Отступы и размеры
$padding: 10px;
$border-radius: 15px;
