@import '../styles/variables.scss';

$checked-color: #34b93d;
$unchecked-color: #000;
$checkbox-height: 100px;
$background-color:#667788;
$font-color:#efefef;
$duration: .4s;
  
.task-item {
    width: 100%;

    .view-task,
    .edit-task {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
        gap: 10px;
    }

    .edit-description {
        background-color: $app-background;
        color: red;
        font-size: 12px;
        position: absolute;
        top: -8px;
        left: 5px;
    }

    .completed .taskText {
        text-decoration: line-through;
        color: $completed-color;
    }

    .taskText {
        width: 100%;
        border-bottom: 1px solid aliceblue;
        padding: $padding;
        text-align: justify;
    }

    .taskCheckbox {
        background: aquamarine;
        width: 25px;
        height: 25px;
    }
}
.completed{
    text-decoration: line-through;
}



