* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.492);
  color: beige;
  margin: 0 auto;
}

input {
  width: 100%;
  background: none;
  padding: 10px;
  border: none;
  border-bottom: 2px solid white;
  color: beige
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.63)
}

.app {
  background: #565655;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
  padding: 25px;
  border: 2px white solid;
  border-radius: 25px;
}

.task-input {
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}

.task-list {

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.task-item {
  width: 100%;
}

.view-task {
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.edit-task {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}